@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
    --primary-background:white;
    --secondary-background: #C65D7B;

    --p-font-color:rgb(0, 0, 0);

    --fade-font-color:rgba(0,0,0,0.3);
    --bold-fade-color:rgba(255, 0, 0,0.3);

    --primary-font:'Raleway', arial;
}
body{
    font-family: var(--primary-font);
    color: var(--p-font-color);
    background-color: var(--primary-background);
    margin: 0;
}
/*Navbar*/
.navbar a{
    text-decoration: none;
    color: var(--p-font-color);
}
.navbar li{
    list-style-type: none;
    padding-top: 1em;
}
.bold-nav{
    font-weight: bold;
}
.navbar, .navbar ul{
    text-align: center;
    padding: 1em;
}
.logo img{
    border-radius: 50%;
}
/*Table*/
.bold{
    color: red;
    font-weight: bold;
}
.bold_fade{
    font-weight: bold;
    color: var(--bold-fade-color);
}
.fade{
    color: var(--fade-font-color);
}
table{
    margin: auto;
}
.activities{
    font-size: smaller;
}
/*January Table*/
.January_Container{
    background-color: var(--secondary-background);
    text-align: center;
    
    padding: 0.5em;
}
.january_table{
    background-color: var(--primary-background);

    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 0.7rem;
}
.January_Container h2{
    color:var(--primary-background);
}
/*February Table*/
.February_Container{
    text-align: center;

    padding: 1em;
}
.february_table{
    font-size: 0.7rem;
}
/*Photo Gallery*/
.Photo_Container{
    background-color: var(--secondary-background);
    text-align: center;
    padding: 0.5em;
}
.Photo_Container h2{
    color: var(--primary-background);
}
.Photo_Container h3{
    color: var(--primary-background);
    padding-top: 1em;
}
.photo_images{
    background-color: var(--primary-background);
    margin: 1em;
    border-radius: 1em;
}
.photo_resize{
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.desc{
    padding: 1em;
    text-align: center;
}
.btn{
    padding: 1em 0;
}
.top_btn{
    text-decoration: none;
    color: var(--primary-background);
    border: 1px solid var(--primary-background);
    padding: 0.5em;
    border-radius: 0.5em;
}

@media screen and (min-width:700px){
    /*navbar*/
    .navbar{
        display:flex;
        justify-content: space-between;
    }
    .navbar li{
        display: inline;
        padding-left: 5em;
        
    }
    .navbar li a{
        position: relative;
        padding: 0 10px;
    }
    .navbar li a::after{
        content: "";
        position: absolute;
        background-color: var(--secondary-background);
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    .navbar li a:hover::after{
        width: 100%;
    }
    .navbar li a:focus::after{
        width: 100%;
    }
    /*table*/
    .January_Container,
    .February_Container{
        padding: 5em;
    }
    .January_Container h2,
    .February_Container h2{
        padding-bottom: 1em;
    }
    table td,
    table th{
        font-size: large;
        padding: 0.6em;
    }
    /*gallery*/
    .photo_gallery{
        display: flex;
        float: left;
        margin-bottom: 1em;
    }
    .photo_images{
        width: 50%;
    }
    .top_btn:hover{
        background-color: var(--primary-background);
        color: var(--secondary-background);
        transition: 0.3s all ease 0s;
        font-weight: bold;
    }
}   